.card {
    margin-bottom: 100px;
}

.container {
    margin-left: 2cm;
}

.fa-briefcase,
.fa-user,
.fa-users {
    color: steelblue;
}

#sel-employee {
    display: inline-block;
    margin-left: 2cm;
}

#sel-team {
    display: inline-block;
    margin-left: 2cm;
}

#sel-project {
    display: inline-block;
    margin-left: 2cm;
}

#title1 {
    display: inline-block;
}

#title2 {
    display: inline-block;
}

#title3 {
    display: inline-block;
}