<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="login-form">
        <h2 class="text-center">Login<img src="../images/fence-logo.png" class="img-fluid"></h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" id="tfUsername">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" id="tfPassword">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" id="btnLogin" onclick="checkLogin()"
                onkeydown="checkLogin()">Login
            </button>
        </div>
    </div>
</body>

<script src="../js/login.js"></script>

</html>