<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="#">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-project-diagram" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                Hello world!
            </div>

        </div>
    </div>


</body>

</html>