<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/help.css">
</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="./main-dashboard.html">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="./main-stc.html">
                    <i class="fas fa-calculator" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="./main-reports.html">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="./main-recommendations.html">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="./main-settings.html">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
            <li>
                <a href='./main-help.html'>
                    <i class='fas fa-question' aria-hidden='true'></i> Help
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <div class="jumbotron">
                <h1>Help</h1>
            </div>

            <div class="container">
                <div>
                    <h3><i class="fas fa-arrow-circle-right"></i> What is sociotechnical congruence?</h3>
                    <p>Sociotechnical congruence (STC) is a metric used to measure task dependencies among people, as
                        well
                        as the fit between these task dependencies and the coordination activities performed by
                        individuals.
                    </p>
                    <p>
                        In this way, STC measures how well an organisation's users coordinate with respect to their
                        actual
                        coordination needs. These actual coordination needs will depend on the tasks assigned to users
                        and
                        the dependencies between those tasks.
                    </p>

                    <hr>

                    <h3><i class="fas fa-arrow-circle-right"></i> Why is it important to measure it?</h3>
                    <p>The importance of measuring STC is that lack of coordination within an organisation can lead to
                        significant problems, such as increased costs or project delays.
                    </p>
                    <p>
                        This lack of coordination tends to be especially accentuated in geographically distributed
                        projects,
                        where teams from different parts of the world try to collaborate on common objectives.
                    </p>
                    <p>
                        Under these premises, measuring the STC will make it possible to monitor the level of
                        coordination
                        present in an organisation, and thus be able to take the appropriate measures to reduce the
                        risks
                        that lack of coordination may entail.
                    </p>

                    <hr>

                    <h3><i class="fas fa-arrow-circle-right"></i> What levels of STC should my organization have?</h3>
                    <p>Actually, there is not a range established to indicate when the STC is considered high or low.
                        Despite this, the desired STC levels should be those that best fit the circumstances of the
                        project.
                    </p>
                    <p>
                        For example, a project with many critical tasks is expected to have high communication and
                        coordination. For this case, a STC level above 80% could be considered adequate.
                        Conversely, a project where collaboration is not a vital factor in ensuring success, as there is
                        a
                        high familiarity with the work being performed, a STC level of 40% might be considered
                        appropriate.
                    </p>
                    <p>
                        In general, consider a STC level of between 40% and 50% as the limit for any generic project,
                        and
                        then adjust it to the particular needs of the organization.
                    </p>

                    <hr>

                    <h3><i class="fas fa-arrow-circle-right"></i> How can I improve my organisation's STC levels using FENCE?</h3>
                    <p>Improving the organisation's STC levels is not an easy job, as users need to be made aware of
                        their
                        communication needs.
                    </p>
                    <p>
                        The first step will be raising users' awareness of their STC levels. For this, FENCE not only
                        allows
                        the measurement of STC levels at project and team levels, but also individually for each
                        employee.
                        It is also possible to use the tool to visualise the time progression of STC levels, in order to
                        anticipate coordination problems or try to alleviate existing ones.
                    </p>
                    <p>
                        Subsequently, FENCE incorporates a recommendation system which, given a customizable threshold
                        of
                        lack of coordination between users, is able to offer advice to improve communication between
                        them.
                        These recommendations include suggested communication methods based on socio-cultural factors,
                        recommendation of supervisors and training or use of mediators between culturally distant
                        employees
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>