<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="../css/stc-tab.css">

    <script src='../js/set-page.js'></script>

</head>

<body onload="setPage();">

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="./main-dashboard.html">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="./main-stc.html">
                    <i class="fas fa-project-diagram" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="./main-reports.html">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="./main-recommendations.html">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="./main-settings.html">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">
        <div class="container-fluid">

            <div class="jumbotron">
                <h1>Calculate STC</h1>
            </div>

            <div class="container" style="margin-bottom:2cm;">
                <button id="btn-calculate-stc" type="button" class="btn btn-success btn-lg">Calculate STC</button>
                <select id="select-project" style="margin-left:1cm;"
                    class="mdb-select md-form colorful-select dropdown-primary">
                    <!-- PROJECTS -->
                </select>
                <label id="loading-label" style="margin-left:1cm;"> </label>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="container">
                            <h3>Employees STC levels</h3>
                            <table id="table-stc-employees" class="table table-bordered text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Employee</th>
                                        <th>STC level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- DATA-->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="container">
                            <h3>Project STC level</h3>
                            <table id="table-stc-projects" class="table table-bordered text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Project</th>
                                        <th>STC level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- DATA -->
                                </tbody>
                            </table>
                        </div>
                        <div class="container">
                            <h3>Teams STC levels</h3>
                            <table id="table-stc-teams" class="table table-bordered text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Team</th>
                                        <th>STC level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- DATA-->
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

</body>

<script src='../js/calculate-stc.js'></script>

</html>