<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src='../js/set-page-recommendations.js'></script>
</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="./main-dashboard.html">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="./main-stc.html">
                    <i class="fas fa-project-diagram" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="./main-reports.html">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="./main-recommendations.html">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="./main-settings.html">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Recommendations</h1>
            </div>

            <button id="btn-update-recommendations" type="button" class="btn btn-success btn-lg">Update</button>

            <div class="container">
                <ul class="list-group" id="recommendationsText">
                    <!-- Recommendations -->
                </ul>
            </div>

        </div>
    </div>


</body>

</html>