<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/settings.css">

</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="./main-dashboard.html">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="./main-stc.html">
                    <i class="fas fa-calculator" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="./main-reports.html">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="./main-recommendations.html">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="./main-settings.html">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
            <li>
                <a href='./main-help.html'>
                    <i class='fas fa-question' aria-hidden='true'></i> Help
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <div class="jumbotron">
                <h1>Settings</h1>
            </div>

            <div class="container">

                <!-- CUSTOM GAP WEIGHT FOR RECOMMENDATIONS -->
                <div>
                    <h3>Default gap weight threshold for recommendations</h3>
                    <p><i class="fas fa-info-circle"></i> Define here the default coordination gap weight for providing recommendations between two users.</p>
                    <div class="container">
                        <p id="lbl0"> Gap weight threshold: </p>
                        <div class="slidecontainer">
                            <input type="range" id="sldr-default-threshold" value="50" min="0" max="1" step="0.01" oninput="document.getElementById('default-threshold').innerHTML = this.value" />
                            <label id="default-threshold"></label>
                        </div>
                    </div>
                </div>

                <hr>

                <!--- CUSTOM GAP WEIGHT BETWEEN TWO USERS -->
                <div>
                    <h3> Customize gap weight threshold for recommendations</h3>
                    <p><i class="fas fa-info-circle"></i> Set the weight of the minimum communication gap so that recommendations are given among the users selected in a project.</p>

                    <div class="container">
                        <div style="margin-left:30px;">
                            <label id="lbl1" for="select-user1"> User 1: </label>
                            <select id="select-user1" class="select-css mdb-select md-form colorful-select dropdown-primary">
                                <!-- USERS -->
                            </select>
                        </div>

                        <div style="margin-left:30px;">
                            <label id="lbl2" for="select-user2"> User 2: </label>
                            <select id="select-user2" class="select-css mdb-select md-form colorful-select dropdown-primary">
                                <!-- USERS -->
                            </select>
                        </div>

                        <div style="margin-left:30px;">
                            <label id="lbl3" for="select-project"> Project: </label>
                            <select id="select-project" class="select-css mdb-select md-form colorful-select dropdown-primary">
                                <!-- PROJECTS -->
                            </select>
                        </div>

                        <div style="margin-left:30px;">
                            <p id="lbl4"> Custom gap weight threshold: </p>
                            <div class="slidecontainer">
                                <input type="range" id="sldr-users-threshold" value="50" min="0" max="1" step="0.01" oninput="document.getElementById('users-threshold').innerHTML = this.value" />
                                <label id="users-threshold"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- RESET MIN GAP WEIGHTS -->
                <div>
                    <h3> Set all threshold weights to default</h3>
                    <p><i class="fas fa-info-circle"></i> Restore default weights for recommendations. </p>
                    <div style="margin-left:30px;">
                        <button id="btn-reset-mingaps" type="button" class="btn btn-success btn-lg" style="margin-right:1cm;">Set default weight</button>
                        <select id="select-project-reset" class="select-css mdb-select md-form colorful-select dropdown-primary">
                        <!-- PROJECTS -->
                    </select>
                    </div>
                </div>

            </div>
        </div>

</body>

<script src="../js/settings.js"></script>
<script src="../js/set-page-settings.js"></script>

</html>