<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/charts.css">
</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            FENCE
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="./main-dashboard.html">
                    <i class="fas fa-server" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="./main-stc.html">
                    <i class="fas fa-project-diagram" aria-hidden="true"></i> Calculate STC
                </a>
            </li>
            <li>
                <a href="./main-reports.html">
                    <i class="fas fa-file-contract" aria-hidden="true"></i> Reports
                </a>
            </li>
            <li>
                <a href="./main-recommendations.html">
                    <i class="fas fa-thumbs-up" aria-hidden="true"></i> Recommendations
                </a>
            </li>
            <li>
                <a href="./main-settings.html">
                    <i class="fas fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
            <li>
                <a href='./main-help.html'>
                    <i class='fas fa-question' aria-hidden='true'></i> Help
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <div class="jumbotron">
                <h1>Reports</h1>
            </div>

            <!-- Chart employees -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Employee STC</h2>
                        <select id="sel-employee">
                            <!-- EMPLOYEES -->
                        </select>
                        <div class="card">
                            <div class="card-body">
                                <canvas id="chartEmployees"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Chart teams -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Team STC</h2>
                        <select id="sel-team">
                            <!-- TEAMS -->>
                        </select>
                        <div class="card">
                            <div class="card-body">
                                <canvas id="chartTeams"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Chart projects -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Project STC</h2>
                        <select id="sel-project">
                            <!-- PROJECTS -->>
                        </select>
                        <div class="card">
                            <div class="card-body">
                                <canvas id="chartProjects"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

<script src="../js/canvas.js"></script>

</html>